/* buttons */
//markup
/*
<button><i></i>button</button>
*/
.button,button {
  height: 2em;
  line-height: 2;
  margin: 0;
  padding: 0 1em;
  color: @button-color;
  border: @button-border;
  border-radius: @button-radius;
  background-color: @button-bgcolor;
  display: inline-block;
  cursor: pointer;
  outline: 0;
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
  .box-sizing(content-box);
  &,&.split + i:empty{
    &:hover,
    &:focus,
    &:active {
      background-color: darken(@button-bgcolor, 5%);
          border-color: darken(@button-border-color, 10%);
    }
  }
  &.split + i:empty {
    margin-left: 0.75pt;
    cursor: pointer;
  }
}

.button > [class^="glyphicon-"]::before{
  margin-top: 0.5em;
}

.button.disabled,
button[disabled],
button.disabled,
fieldset[disabled] .button,
fieldset.disabled .button,
fieldset[disabled] button,
fieldset.disabled button,
{
  &,&.split + i:empty {
    cursor: not-allowed;
    box-shadow: none;
  }
}