// Forms

form {
  margin: 0;
  line-height: 3em;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 1em;
  font-size: @font-size-base * 1.5;
  line-height: @line-height-base * 2;
  color: @legend-color;
  border: 0;
  border-bottom: 0.75pt solid #e5e5e5;
}

label {
  display: inline-block;
  margin-bottom: 3.75pt;
  font-weight: bold;
}

select,input:not([type="file"])
{
  height: 2em;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  border: @input-border;
  border-radius: @input-radius;
  .box-sizing(content-box);
}

input[type="button"],
input[type="reset"],
input[type="submit"],
{
  color: @input-button-color;
  padding:0 0.5em;
  background-color: @input-bgcolor;
}

input[type="image"]{
  width: auto;
  height: auto;
  margin:0;
  border:0;
  padding: 0;
  border-radius:0;
  vertical-align: top;
}
input[type="file"]{
  width: auto;
  max-width: 16em;
  height: 2em;
  line-height: 1;
  margin:0;
  padding: 0;
  border:0 none;
  border-radius:0;
  vertical-align: middle;
}
input[type="color"]
{
 margin: 0;
 border-width: 0.75pt;
 vertical-align: middle; 
}

input[type="radio"],
input[type="checkbox"] 
{
  width: 1.5em;
  margin:0;
  border:0;
  padding: 0;
  line-height: normal;
  border-radius: 0;
}

input[type="text"],
input[type="datetime"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="tel"],
{
  min-height: 9pt;
  .transition(~"border linear .2s, box-shadow linear .2s");
}


input[type="range"],
input[type="number"],
{

}
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
{
  display: -webkit-inline-flex;
}

textarea {
  height: auto;
  min-height: 24pt;
}
//focus
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
{
  // Focus state
  &:focus {
    outline: 0;
    border: @input-border-focus;
    box-shadow: @input-shadow-focus;
  }
}
textarea:focus{
  box-shadow: @textarea-shadow-focus;
}
// Make multiple select elements height not fixed
select[multiple],
select[size] {
  height: auto;
}
// Placeholder
// -------------------------
input,
textarea {
  &::-webkit-input-placeholder,    
  &:-moz-placeholder ,
  &::-moz-placeholder ,
  &:-ms-input-placeholder {
    color: @input-color-placeholder;
  }
}

// Disabled and readonly
input,
select,
textarea {
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    background-color: @input-bgcolor-disabled;
  }
}

input[type="radio"],
input[type="checkbox"] {
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: transparent;
  }
}


// invalid states
input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: @input-color-focus-invalid;
  border-color: @input-border-color-focus-invalid;
  box-shadow: none;
}

// Horizontal forms
@media screen and (min-width: 576pt) {

  .form-horizontal {

  }
}
