// Placeholder
.holder {
  .holder(@grayLight);
  border-radius:0;
  a,i{cursor:default;}

}


// divider  :empty && .divider
.divider::before{
  border-color: @color-divider;
  border-style: solid;
  border-width: 0.75pt 0 0 0;
  content: "";
  display: block;
  height: 0;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

//.bar
.bar > .divider{ margin-left: 0.5em; }
.bar > .divider::before {
  border-width: 0 0 0 0.75pt;
  left: -0.3em;
  top: 0;
  width: 0;
  height: 100%;
  padding: 0;
  margin: 0;
}

// transition
.transition {
  .transition(all 0.35s ease-in-out 0s);
}

.duration1s{
  
}

.in.transition{
  overflow: hidden;
}

// caret dropdown
.caret{
  &::before,&::after{
    content: "";
    position: absolute;
    border-left: 6pt solid transparent;
    border-right: 6pt solid transparent;
    border-bottom: 6pt solid @caret-color;
    top:-6pt;
    left:10%;
  }
  &::after{
    top: -5.25pt;
    border-bottom-color: white;
  }
}

.split + i:empty::before,.dropdown::before{
  content: "";
  display: inline-block;
  font-size: 0;
  margin-top: 1pt;
  border-width: 3pt;
  border-style: solid;
  border-color: @caret-color transparent transparent;
  vertical-align: middle;
  .opacity(60);
}
.dropdown::before{
  font-size: 1em;
  margin: 0.5em 0 0;
  float: right;
}
.dropdown.before::before{
  margin: 0.5em 0.5em 0 0;
  float: none;
}

//addon split i
.addon,
.split,
.split + i,
{
  margin:0;
  padding: 0 0.5em;
  display: inline-block;
  border: @button-border;
  font-style: normal;
  line-height: 2;
  vertical-align: middle;
}

.split {
  border-radius: @radius-base 0 0 @radius-base;  
}

.split + i{
  color: @button-color;
  border-radius: 0 @radius-base @radius-base 0;
  background-color:  @button-bgcolor;
}
.addon {
  color: @button-color;
  border-right: none;
  border-radius: @radius-base 0 0 @radius-base;
  background-color: @button-bgcolor;
  + input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.addon + input[type="file"]{
  height: auto;
}


// linear gradient
.linear{
  #gradient > .directional(darken(@button-bgcolor,20%),lighten(@button-bgcolor,30%));
}



// size
.brand{
  font-size: 1.5em;
  line-height: 0.6em;
  vertical-align: text-top;
}
.addon+input[type="file"],input.split[type="file"]
{
  font-size: 1.45em;
}
.addon.large+input[type="file"],input.large[type="file"]
{
  font-size: 2.25em;
}
.addon.small+input[type="file"],input.small[type="file"]
{
  font-size: 1em;
}
.addon.mini+input[type="file"],input.mini[type="file"]
{
  font-size: 1em;
}

.large,.large + i:empty,
.large + .split + i,
.split.large + i:not(:empty),
.addon.large + button,
.addon.large + .button,
.addon.large + input,
{
  font-size: 1.5em;
  padding:0 0.5em;
  // Icons in buttons
  [class^="glyphicon-"]::before{ vertical-align: -0.2em; }
}

// Small
.small,.small + i ,
.small + .split + i,
.addon.small + button,
.addon.small + .button,
input.small,
.addon.small + input,
{
  padding: 0 0.5em;//1.5pt fix for firefox
  height: 1.4em;
  line-height: 1.4;
  // Icons in buttons
  [class^="glyphicon-"]::before {
    vertical-align: -0.75pt;
  }
}
// Mini
.mini,.mini + i,
.mini + .split + i,
.addon.mini + button,
.addon.mini + .button,
input.mini,
.addon.mini + input,
{
  padding: 0 0.5em;
  height:1em;
  line-height: 1;
  // Icons in buttons
  [class^="glyphicon-"]::before {
    vertical-align: -0.1em;
  }
}

// radius border glass
.radius-0 { border-radius:0; }
.radius-3 { border-radius: 3*0.75pt; }
.radius-5 { border-radius: 5*0.75pt; }
.radius-7 { border-radius: 7*0.75pt; }
.radius-9 { border-radius: 9*0.75pt; }

.border-0 { border-width:0; }
.border-1 { border: @button-border; }
.border-none { border-style:none; }
.border-glass{ border-color:transparent; }

.bg-glass { background-color: transparent;}

.before-none::before{ display: none; }
.after-none::after{ display: none; }

// Utility classes
.mid {
  .center-block()
}
.block {
  display: block;
}
.left       { float: left; }
.right      { float: right; }
.float-none { float: none; }

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.overhide            { overflow: hidden; }

.flat {
  border-radius: 0;
  .button,button,.blockboard,pre,script.pre,input,
  nav dl.bar,nav dl.bar > dt dl,
  .pagination,table,
  .split,.split+i,.addon{
    border-radius: 0;
  }
}