body{
	margin-bottom: 5em;
}
h1, h3, h3 {
    font-family: "Helvetica Neue",Helvetica,'microsoft yahei ui','microsoft yahei','simhei',Arial,sans-serif;
    font-weight: normal;
}
#overview {
	padding: 2em;
	background-color:#262626;
	background-image: linear-gradient(to bottom, #262626 0%,#777777 100%);
	color: #EEE;
	white-space: pre-line;
}
#subnav{
	margin-top: 21pt;
	margin-right: 21pt;
}
#overview~#subnav{margin-top: 0;}
section h1{
	padding-bottom: 0.5em;
	border-bottom: 0.75pt solid #CCC;
}
.docs-example:before {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    color: #CCCCCC;
    content: "Example";
    display: block;
    font-weight: bold;
    padding: 2px 7px;
    width: 4em;
    margin-bottom: 0.25em;
}
.docs-example ~ pre{margin-top:2em; position: relative;}
.docs-example ~ pre:before,pre.markup:before {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    color: #CCCCCC;
    content: "MarkUp";
    font-weight: bold;
    padding: 2px 7px;
    position: absolute;
   	top:-2em;
   	left: 0;
}